<div class="p-4">
  <div class="head-page">
    <h2>{{titulo}}</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="pagination d-flex justify-content-end align-items-center">
        <li class="pagination-totalPage"><b>total:</b> {{total}}</li>
        <li class="pagination-page"><b>Página:</b> {{page}}</li>
        <li><a class="btn btn-dark" [routerLink]="['/albums-list', prev_page]" >&laquo;</a></li>
        <li><a class="btn btn-dark {{disabledBtn}}" [routerLink]="['/albums-list', next_page]" >&raquo;</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <ul class="row albums-list" *ngIf="albums">
          <li *ngFor="let album of albums" class="col-lg-3 col-md-6 col-sm-12 album-item">
             <div class="album-image">
              <img  *ngIf="album.image!='null'" src="{{url + 'get-image-album/'+ album.image}}" />
              <img  *ngIf="album.image=='null'" src="{{url + 'get-image-artist/album_photo_default.jpg'}}" />
            </div>
            <div class="album-name">
              <p>
                <a [routerLink]="['/album', album._id]">
                  {{album.title}}
                </a>
                -
                <a [routerLink]="['/artista', album.artist._id]">
                  {{album.artist.name}}
                </a>

              </p>
              <!-- <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN' ">
                <a [routerLink]="['/editar-album', album._id]" class="btn btn-sm btn-success btn-spotymusic">
                  <i class="bi bi-pencil-square"></i> Editar
                </a>
                <a (click)="onDeleteConfirm(album._id)" class="btn btn-sm btn-danger btn-spotymusic" >
                  <i class="bi bi-trash"></i> Borrar
                </a>
              </div> -->
            </div>
            <!-- <div class="seguro2" *ngIf="confirmado == album._id">
              <a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-success btn-spotymusic">
                <i class="bi bi-trash"></i> Eliminar
              </a>
              <a (click)="onCancelAlbum()" class="btn btn-sm btn-danger btn-spotymusic">
                <i class="bi bi-x-square"></i> Cancelar
              </a>
            </div> -->
          </li>
        </ul>
    </div>
  </div>
</div>

